{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {{ product.libelle }}
{% endblock %}
{% block content %}
    <div class="product-detail">

        <h1>{{ product.libelle }}</h1>
        <h2><a href="{{ product.category.get_absolute_url }}">{{product.category }}</a></h2>
        <p class="price">{{ product.prix }} KMF</p>
        <form action="{% url "cart:cart_add" product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Ajouter au panier">
        </form>
        {{ product.description|linebreaks }}
    </div>
{% endblock %}